<ion-view view-title="Sign-In">
  <ion-header-bar class="bar-stable topbar">
        <img src="img/download.png" class="responsive-sm" style="width: 100%;
height: auto;">
    </ion-header-bar>
    <ion-content class="content">
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Username" ng-model="infor .username">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="infor.password">
            </label>
        </div>
        <button class="button button-block button-positive" ng-click="login()">Login</button>
    </ion-content>
</ion-view>
